@if(moduleCopy is not null && module is not null)
{
    <EditForm Model="@moduleCopy" OnValidSubmit=OnValidSubmitHandler>
        <DataAnnotationsValidator />
        <div class="mx-3 mt-3">
            <div class="row">
                <div class="col">
                    <HxInputText @bind-Value="moduleCopy.ModuleName" Label="Název modulu" Type="InputType.Text" InputCssClass=@((module.ModuleName!= moduleCopy.ModuleName)?"input_changed":"")/>
                </div>
                <div class="col">
                    <HxInputText @bind-Value="moduleCopy.ModuleShortName" Label="Zkrácený název" Type="InputType.Text" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <HxInputNumber Label="Číslo licence" CssClass="mb-3" Decimals="0" TValue="int" @bind-Value="moduleCopy.LicenseNumber" Enabled="false" />
                </div>
                <div class="col"/>
                <div class="col-3">
                    <HxInputNumber Label="Typ evidence" CssClass="mb-3" Decimals="0" TValue="int" @bind-Value="moduleCopy.EvidenceType"/>
                </div>
            </div>
            <div class="my-2">
                <HxSwitch Text="Zobrazit pouze uživatele modulu" @bind-Value="@moduleCopy.OnlyUsersByIdOfModule" />
            </div>

		</div>
        <div class="d-grid gap-2">
            <HxSubmit Color="ThemeColor.Success">@ButtonText</HxSubmit>
        </div>

    </EditForm>
}

@code {//TODO: ymena barvy pri zmene, pred updatem kontrola zmen
    [EditorRequired]
    [Parameter]
    public Module? module { get; set; }
    private Module? moduleCopy;
    [EditorRequired]
    [Parameter]
    public EForm formType { get; set; }
    [EditorRequired]
    [Parameter]
    public EventCallback<EForm> OnValidSubmit { get; set; }
    private string ButtonText
    {
        get
        {
            if (formType == EForm.Insert) return "Vložit";
            return "Aktualizovat";
        }
    }
    private async Task OnValidSubmitHandler() => await OnValidSubmit.InvokeAsync(formType);
    protected override void OnInitialized()
    {
        if(module is not null)
            moduleCopy = module.Clone() as Module;
    }
}
