@attribute [AllowAnonymous]
@inject AuthenticationService authService
@inject NavigationManager navManager
@inject IHxMessengerService Messenger




    <div class="container py-5" style="height: 100svh"> 
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card floating-card">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Editta přihlášení</h3>
                        <EditForm Model="@logRequest" OnValidSubmit=Authenticate>
                            <DataAnnotationsValidator />

                            <div class="row align-items-start">
                                <div class="col">
                                    <HxInputText @bind-Value="logRequest.Name" Label="Login" Type="InputType.Text" />
                                </div>
                                <div class="col">
                                    <HxInputText @bind-Value="logRequest.Password" Label="Heslo" Type="InputType.Password" />
                                </div>
                            </div>
                            <div class="d-grid gap-2 mt-3">
                                <HxSubmit Color="ThemeColor.Primary">Přihlásit se</HxSubmit>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>



@code {
    [CascadingParameter]
    private ModuleWorkplace moduleWorkspace { get; set; } = default!;

    private LoginRequest logRequest = new();
    private string errorMessage = String.Empty;
    private async Task Authenticate()
    {
        var logResponse = await authService.Login(logRequest);
        if (logResponse is UserAccount user)
        {
            moduleWorkspace.UserId = user.User.Id;
            moduleWorkspace.LicenseNumber = user.User.LicenseNumber;
            moduleWorkspace.ModulesDic = user.User.AccessPermition.ToDictionary(p => p.ModuleId, p => p.ModuleName);
            navManager.NavigateTo("/", false);
        }
        else
        {
            if (logResponse is ErrorResponse error)
                errorMessage = error.ErrorMessage;
            else
                errorMessage = "Vyskytla se neočekávaná chyba";
            Messenger.Clear();
            Messenger.AddError(title: "Chyba při přihlašování", message: errorMessage );
            logRequest = new();
            return;
        }
    }

}
