@if(Ware is not null)
{
    <EditForm Model="@Ware" OnValidSubmit=OnValidSubmitHandler>
        <DataAnnotationsValidator />

        <div class="row align-items-start">
            <div class="col-6">
                <HxInputText @bind-Value="Ware.Name" Label="Nazev polozky" Type="InputType.Text" />
            </div>
            <div class="col-2">
                <HxInputNumber Label="Poradni" CssClass="mb-3" Decimals="0" TValue="int" @bind-Value="Ware.Order"/>
            </div>
            <div class="col"/>
        </div>
        <div class="row">
            <div class="col">
                <HxInputNumber Label="Pocet kusu" CssClass="mb-3" Decimals="0" TValue="int" @bind-Value="Ware.Quantity"/>
                <HxInputNumber Label="Castka" CssClass="mb-3" Decimals="2" TValue="float" @bind-Value="Ware.Price"/>
            </div>
            <div class="col">
                <HxCheckbox @bind-Value="Ware.IsBalanceCheck" Text="Kontrola na zustatek"/>
                <HxCheckbox @bind-Value="Ware.IsClientRequired" Text="Klient je povinny"/>
                <HxCheckbox @bind-Value="Ware.IsPriceRequired" Text="Castka je vyzadovana"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
@*                 <HxSelect TItem="string"
		          TValue="int?"
		          Label="Employee"
		          Data="data"
		          @bind-Value="employeeId"
		          TextSelector="@(employee => employee.Name)"
		          ValueSelector="@(employee => employee.Id)"
		          Nullable="true"
		          NullText="-select employee-"
		          NullDataText="Loading employees..." /> *@
            </div>
            <div class="col">
            </div>
        </div>
        <HxInputText @bind-Value="Ware.Note" Label="Poznamka" Type="InputType.Text" />

        <div class="row align-items-start">
            <div class="col">
                <HxInputDate CalendarIcon="BootstrapIcon.Calendar" @bind-Value="Ware.ValidFrom" Label="Plati od" />
            </div>
            <div class="col">
                <HxInputDate CalendarIcon="BootstrapIcon.Calendar" @bind-Value="Ware.ValidTo" MinDate=Ware.ValidFrom.AddDays(1) Label="Plati do" />
            </div>
        </div>

        <div class="d-grid gap-2">
            <HxSubmit Color="ThemeColor.Success">@ButtonText</HxSubmit>
        </div>

    </EditForm>
}
@code {
	[Parameter]
	[EditorRequired]
	public IWare_Record? Ware { get; set; }
    [EditorRequired]
    [Parameter]
    public FormEnum formType { get; set; }
    [EditorRequired]
    [Parameter]
    public EventCallback<FormEnum> OnValidSubmit { get; set; }
    private string ButtonText
    {
        get
        {
            if (formType == FormEnum.Insert) return "Insert";
            return "Update";
        }
    }
    private async Task OnValidSubmitHandler() => await OnValidSubmit.InvokeAsync(formType);
}
