@page "/Account"
@attribute [Authorize]
@inject PobytneService service
@inject IJSRuntime js

<PageTitle>Můj účet</PageTitle>

<HxCard CssClass="floating-card">
    <BodyTemplate>
        <HxCardTitle>Můj účet</HxCardTitle>
        <HxCardSubtitle CssClass="mb-2 text-muted">@moduleWorkspace.LicenseName</HxCardSubtitle>
        <HxCardText>
            <div><b>Login:</b> @User?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value</div>
            <div><b>Id uživatele:</b> @moduleWorkspace.UserId</div>
            <div><b>Email: </b>@User?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value</div>
            <div><b>Jméno uživatele:</b> @moduleWorkspace.UserName</div>
        </HxCardText>
    </BodyTemplate>
</HxCard>
<div class="w-100 m-2"/>







@code {
    [CascadingParameter]
    private ModuleWorkplace moduleWorkspace { get; set; } = default!;
    [CascadingParameter]
    private Task<AuthenticationState> authState { get; set; } = default!;
    private ClaimsPrincipal? User;

    protected override async Task OnInitializedAsync()
    {
        User = (await authState).User;
        await base.OnInitializedAsync();
    }

}