@page "/"

<PageTitle>Home</PageTitle>

    <div class="container mt-5">
        <div class="d-flex flex-row flex-wrap">
            @if (moduleWorkspace is not null)
            {

                @foreach (var module in moduleWorkspace.ModulesDic)
                {
                        <a href="/@module.Key/" class="no-link">
                            <div class="card floating-card m-2" style="height:10rem; width:18rem;">
                            <div class="card-body p-5 text-center">
                                    <h4 class="card-title">@module.Value</h4>
                                </div>
                            </div>
                        </a>
                }
            }
        </div>
    </div>


@code {
    [CascadingParameter]
    private ModuleWorkplace moduleWorkspace { get; set; } = default!;
}