@page "/"

<PageTitle>Home</PageTitle>

    <div class="container mt-5">
        @if (moduleWorkspace is not null)
        {
            <h2 class="headline"> Dostupné moduly</h2>
            <div class="d-flex flex-row flex-wrap">

                    @foreach (var module in moduleWorkspace.ModulesDic)
                    {
                            <a href="/@module.Key/" class="no-link">
                                <div class="card floating-card m-2" style="width:20rem;">
                                <div class="card-body p-5 text-center">
                                        <h3 class="card-title py-2">@module.Value</h3>
                                    </div>
                                </div>
                            </a>
                    }
            </div>
        }
    </div>


@code {
    [CascadingParameter]
    private ModuleWorkplace moduleWorkspace { get; set; } = default!;
}