@page "/"
@using Blazored.LocalStorage;
@using Pobytne.Client.Shared.Forms
@inject IJSRuntime js
@inject ILocalStorageService localStorage
@inject HttpClient Http
<PageTitle>Home</PageTitle>

<AuthorizeView>
	<Authorized>
		<h1>Hello, @context.User.Identity?.Name !</h1>

		<br /><br />
        @if(permitions is not null){
            @foreach(var module in permitions)
            {
                <span class="card w-25">
                    <div class="card-body">
                        <h5>Permition id : @module.Id</h5>
                        <h5 class="card-title">Module name : @module.ModuleName</h5>
                        <p>permition string : @module.PermitionString</p>
                    </div>
                </span>
            }
        }
    </Authorized>
</AuthorizeView>

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; } = default!;
    [EditorRequired]
    private List<Permition>? permitions => _user?.AccessPermition;
    private User? _user;

    protected async override Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        if ( authState.User.Identity is not null && authState.User.Identity.IsAuthenticated)
        {
            var user = await localStorage.ReadEncryptedItem<UserAccount>(LocalStorageService.USER_SESSION);
            if(user is not null)
                _user = user.User;
        }

        return;
    }
    private void Submit(){}
}