@page "/Password/Forgoted"
@attribute [AllowAnonymous]
@inject PobytneService service
@inject IHxMessengerService Messenger
@inject NavigationManager navManager


<div class="container py-5 vh-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card floating-card">
                <div class="card-body p-5">
                    <h3 class="mb-4 headline text-center fw-bold text-black">Obnoveni hesla</h3>
                    <EditForm Model="@email">
                        <DataAnnotationsValidator />

                        <HxInputText @bind-Value="email.Email" Label="Email" Type="InputType.Email" ValidationMessageMode="ValidationMessageMode.Regular" CssClass="mx-3" />


                        <div class="d-grid gap-2 my-3">
							<HxSubmit Color="ThemeColor.Primary" OnValidClick="OnValidSubmit">Odeslat email</HxSubmit>
                        </div>
                    </EditForm>
                    <a href="/Login"> <i class="bi bi-arrow-left h5 me-2"></i>Zpět k přihlášení</a>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private class EmailRequest
    {
        [EmailAddress]
        public string Email { get; set; } = string.Empty;
    }
    private EmailRequest email = new();

    private async Task OnValidSubmit()
    {
        var request = await service.ResetPaswordAsync(email:email.Email);

        if (request is ErrorResponse error)
        {
            Messenger.AddError(title: "Email se nepodarilo odeslat", message: error.ErrorMessage);
            email = new();
        }
        else if (request is Task t && t.IsCompletedSuccessfully)
        {
            Messenger.AddInformation(title: "Email odeslan", message: "Zkontrolujte svou emailovou schranku");
            navManager.NavigateTo("/Login");
        }
    }
}
