@page "/Password/Forgot"
@attribute [AllowAnonymous]
@inject PobytneService service
@inject IHxMessengerService Messenger
@inject NavigationManager navManager


<div class="container py-5 vh-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card floating-card">
                <div class="card-body p-5">
                    <h3 class="mb-4 headline text-center fw-bold text-black">Obnovení hesla</h3>
                    <EditForm Model="@userEmail">
                        <DataAnnotationsValidator />

                        <HxInputText @bind-Value="userEmail.Email" Label="Email" Type="InputType.Email" ValidationMessageMode="ValidationMessageMode.Regular" CssClass="mx-3" />


                        <div class="d-grid gap-2 my-3">
							<HxSubmit Color="ThemeColor.Primary" OnValidClick="OnValidSubmit">Odeslat email</HxSubmit>
                        </div>
                    </EditForm>
                    <a href="/Login"> <i class="bi bi-arrow-left h5 me-2"></i>Zpět k přihlášení</a>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private User userEmail = new()
    {
            UserName = "ForgotPasswordEmail",
            UserLogin = "ForgotPasswordEmail",
            PhoneNumber = "000000000",
            Email = string.Empty
    };

    private async Task OnValidSubmit()
    {
        var request = await service.UpdateAsync(userEmail, -1, "ForgotPasswordEmail");

        if (request is ErrorResponse error)
        {
            Messenger.AddError(title: "Email se nepodařilo odeslat", message: error.ErrorMessage);
            userEmail.Email = string.Empty;
        }
        else if (request is Task t && t.IsCompletedSuccessfully)
        {
            Messenger.AddInformation(title: "Email úspěšně odeslán", message: "Zkontrolujte prosím svou emailovou schránku.");
            navManager.NavigateTo("/Login");
        }
    }
}
