@page "/{idModule}/CashRegister"

<ModuleNav idModule="@idModule"></ModuleNav>
<h3>ModuleCashRegister</h3>

@code {
    [EditorRequired]
    [Parameter]
    public string idModule { get; set; } = "-1";
}
