@inject PobytneService service
@inject IHxMessengerService Messenger

<HxModal @ref="myModal" Backdrop="ModalBackdrop.Static" Size="ModalSize.Large" OnClosed="HandleHideClick">
    <BodyTemplate>
        @if (formType == EForm.Update && formItem is not null)
        {
         <div class="mb-2 text-end" style="font-size:smaller;"><b>Poslední úprava:</b> @formItem.CreationUserName  @formItem.CreationDate.ToShortDateString()</div>   
        }
        @switch (formItem)
        {
            case User user:
                 <UserForm user="user" formType=formType OnValidSubmit="Request" ></UserForm>
                 break;
            case Permition permition:
                <PermitionForm permition="permition" formType="formType" OnValidSubmit="Request"></PermitionForm>
                break;
            case Module module:
                <ModuleForm module="module" formType=formType OnValidSubmit="Request"></ModuleForm>
                break;
            case License license:
                <LicenseForm license="license" formType=formType OnValidSubmit="Request"></LicenseForm>
                break;
            case Client client:
                <ClientForm client="client" formType="formType" OnValidSubmit="Request"/>
                break;
            case Record record:
                <RecordTabPanelForm record="record" formType="formType" OnValidSubmit="Request"/>
                break;            
            case RecordStock recordStock:
                <StockForm recordStock="recordStock" formType="formType" OnValidSubmit="Request"/>
                break;
            case RecordAttribute recordAttribute:
                <RecordAttributeForm recAttribute="recordAttribute" formType="formType" OnValidSubmit="Request"/>
                break;
            case Payment payment:
                <PaymentForm payment="payment" formType="formType" OnValidSubmit="Request"/>
                break;
        }
    </BodyTemplate>
</HxModal>

@code
{
    [CascadingParameter]
    private ModuleWorkplace moduleWorkspace { get; set; } = default!;

    [Parameter]
    public EventCallback<(IListItem,EForm)> OnSuccessRequest{ get; set; }
    [Parameter]
    [EditorRequired]
    public required IListItem formItem{ get; set; }
    private EForm formType;

    public HxModal myModal = new();

    public async Task UpdateForm()
    {
        formType = EForm.Update;
        await myModal.ShowAsync();
    }
    public async Task InsertForm()
    {
        formType = EForm.Insert;
        await myModal.ShowAsync();
    }
    private void HandleHideClick()
    {
        Messenger.Clear();
    }
    private async Task  CompleteReq<T>(EForm e,T obj)
    {
        object? response = null;
        if(e == EForm.Update)
            response = await service.UpdateAsync(obj, moduleWorkspace.Id);
        else if(e == EForm.Insert)
            response = await service.InsertAsync(obj, moduleWorkspace.Id);

        if(response is IListItem newItem)
        {
            Messenger.AddInformation(title: "Vše v pořádku", message: "Záznam byl úspěšně uložen.");

            await OnSuccessRequest.InvokeAsync((newItem,e));  // Set new values

            await Task.Delay(1500);
            await myModal.HideAsync();
        }
        else
        {
            var errorText = "Vyskytla se neočekávaná chyba";
            if (response is ErrorResponse error)
                errorText = error.ErrorMessage;
            Messenger.AddError(title: "Chyba při ukládání", message: errorText );
        }
    }
    private async Task Request(EForm request)
    {
        if(formItem is not null)
        {
            // ACreation
            formItem.CreationDate = DateTime.Now;
            formItem.CreationUserId = moduleWorkspace.UserId;

            switch (formItem)
            {
                case User user:
                    await CompleteReq(request, user);
                    break;
                case Permition permition:
                    await CompleteReq(request,permition);
                    break;
                case Module module:
                    await CompleteReq(request, module);
                    break;
                case License license:
                    await CompleteReq(request, license);
                    break;
                case Client client:
                    await CompleteReq(request, client);
                    break;
                case Record record:
                    await CompleteReq(request, record);
                    break;
                case RecordStock recordStock:
                    await CompleteReq(request, recordStock);
                    break;
                case RecordAttribute recordAttribute:
                    await CompleteReq(request, recordAttribute);
                    break;
                case Payment payment:
                    await CompleteReq(request, payment);
                    break;
                default:
                    Messenger.AddError(title: "Chyba při ukládání", message: "Neexistujici formular");
                    break;
            }
        }
    }
}