@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProv
@inject NavigationManager navManager
<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a @onclick="Logout" href="javascript:void(0)">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/Login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private async Task Logout()
    {
        var customAuthStateProv = (CustomAuthenticationStateProvider)authStateProv;
        await customAuthStateProv.UpdateAuthenticationState(null);
        navManager.NavigateTo("/Login", true);
    }
}