@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProv
@inject NavigationManager navManager
<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar  w-auto" style="background-color:#061726">
                <NavMenu OnLogout="Logout" />
            </div>
        </Authorized>
    </AuthorizeView>

    <main>
        <AuthorizeView>
            <NotAuthorized>
                <a href="/Login">Login</a>
            </NotAuthorized>

		</AuthorizeView>               
        <article class="content px-4">
			@Body
		</article>
    </main>
</div>

@code {
    private async Task Logout()
    {
        var customAuthStateProv = (CustomAuthenticationStateProvider)authStateProv;
        await customAuthStateProv.UpdateAuthenticationState(null);
    }
}