@inherits LayoutComponentBase
@inject AuthenticationService service

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar w-auto dark shadow">
                <NavMenu OnLogout="Logout" />
            </div>

            <main>

                <TokenExpirationCounter/>

                <CascadingValue Value="moduleWorkplace">
                    <div class="p-4" style="height:100svh;">
                        @Body 
                    </div>
                </CascadingValue>

            </main>
        
        </Authorized>
        <Authorizing>

        </Authorizing>
        <NotAuthorized>
            <main>
                <Pobytne.Client.Pages.Login/>
            </main>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; } = default!;

    private ModuleWorkplace moduleWorkplace { get; set; } = new ModuleWorkplace();

    private async Task Logout()
    {
        await service.Logout();
    }
}