@inherits LayoutComponentBase
@inject AuthenticationService service

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar  w-auto" style="background-color:#061726">
                <NavMenu OnLogout="Logout" />
            </div>
        </Authorized>
    </AuthorizeView>

    <main>
        <AuthorizeView >
            <NotAuthorized>
                <Pobytne.Client.Pages.Login />
            </NotAuthorized>
            <Authorized>

                <TokenExpirationCounter/>
                <CascadingValue Value="moduleWorkplace">
                    <div class="p-4 h-100">
                        @Body 
                    </div>
                </CascadingValue>

            </Authorized>
        </AuthorizeView>
    </main>
</div>
<style>
    ::-webkit-scrollbar {
        width: 20px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
    }

        ::-webkit-scrollbar-thumb:hover {
            background-color: #a8bbbf;
        }
</style>
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; } = default!;

    private ModuleWorkplace moduleWorkplace { get; set; } = new ModuleWorkplace();

    private async Task Logout()
    {
        await service.Logout();
    }
}