
<div @onmouseenter="() => Collapsed = false" @onmouseleave="() => Collapsed = true" class="h-100">
    <HxSidebar @bind-Collapsed="Collapsed" CssClass="h-100">

        <HeaderTemplate>
            <HxSidebarBrand BrandName="Pobytne">
                <LogoTemplate>
                    <img src="/P.png" width="40" height="40" />
                </LogoTemplate>
            </HxSidebarBrand>
        </HeaderTemplate>

        <ItemsTemplate>
            <HxSidebarItem Text="Nástěnka" Href="/" Icon="BootstrapIcon.HouseDoor"/>
            <HxSidebarItem Text="Administrace" Href="/EditLicenses" Icon="BootstrapIcon.Gear" />
            <HxSidebarItem Text="Můj účet" Href="/Account" Icon="BootstrapIcon.Person"/>
        </ItemsTemplate>

        <TogglerTemplate/>

        <FooterTemplate>
            <a @onclick="Logout">
				<HxSidebarFooter  Icon="BootstrapIcon.PersonLock" Text="@(context.SidebarCollapsed ? null : "Odhlásit se")" />
            </a>
        </FooterTemplate>
    </HxSidebar>

</div>
<style>
    :root{

        --hx-sidebar-item-icon-color: white;
        --hx-sidebar-item-color: white;
        --hx-sidebar-brand-name-color: white;
        --hx-sidebar-footer-item-color: white;
        --hx-sidebar-footer-item-hover-color : #AAA;
    }
</style>

@code {
    [Parameter]
    [EditorRequired]
    public EventCallback OnLogout { get; set; }

    private bool Collapsed { get; set; } = true;

    private async Task Logout()
    {
        await OnLogout.InvokeAsync();
    }
}
