@inject IJSRuntime js
@inject PobytneService service
    <HxModal @ref="myModal" Backdrop="ModalBackdrop.Static" Size="ModalSize.Large" OnClosed="HandleHideClick">
        <HeaderTemplate>
            <h2 class=@headerStyle>@headerText</h2>
        </HeaderTemplate>
        <BodyTemplate>
            @if(formRecord is not null)
            {
                <HxTabPanel ActiveTabId="@recordType" >
	                <HxTab Id="Folder" Title="Slozka" Enabled=@(recordType == "Folder" || formRecord?.Id <= 0)>
		                <Content>
                            <FolderForm formType="formType" Folder="formRecord as IFolder_Record" OnValidSubmit="Request"/>
                        </Content>
	                </HxTab>
	                <HxTab Id="Ware" Title="Evidence zbozi"  Enabled=@(recordType == "Ware" || formRecord?.Id <= 0)>
		                <Content>
                            <WareForm formType="formType" Ware="formRecord as IWare_Record" OnValidSubmit="Request"/>
                        </Content>
	                </HxTab>
	                <HxTab Id="Activity" Title="Evidence aktivit" Enabled=@(recordType == "Activity" || formRecord?.Id <= 0)>
                        <Content>
                            <ActivityForm formType="formType" Activity="formRecord as IActivity_Record" OnValidSubmit="Request"/>
                        </Content>
	                </HxTab>
                    <HxTab Id="EmployeeTasks" Title="Cinnosti" Enabled=@(recordType == "EmployeeTasks" || formRecord?.Id <= 0)>
                        <Content>
                            !IMPLEMENT
                        </Content>
	                </HxTab>
                </HxTabPanel>
            }
        </BodyTemplate>
    </HxModal>

@code
{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; } = default!;
    [CascadingParameter]
    private ModuleWorkplace moduleWorkplace { get; set; } = default!;
    [Parameter]
    public EventCallback OnSuccessRequest{ get; set; }
    [Parameter]
    [EditorRequired]
    public IListItem? formItem{ get { return formRecord as IListItem; } set { if (value is Record r) formRecord = r; } }
    private Record? formRecord;
    private FormEnum formType;
    private string recordType
    { 
        get
        {
            if (formRecord?.Id > 0)
                return formRecord.RecordType.ToString();
            else
                return "Folder";
        }
        set
        {
            //set type
        }
    }

    public HxModal myModal = new();

    private string headerText = "";
    private string headerStyle = "";

    public async Task UpdateForm()
    {
        formType = FormEnum.Update;

        await myModal.ShowAsync();
    }
    public async Task InsertForm()
    {
        formType = FormEnum.Insert;
        await myModal.ShowAsync();
    }
    private async Task HandleHideClick()
    {
        headerText = "";
        headerStyle = "";

        await myModal.HideAsync();
    }
    private async Task GetAuthor()
    {
        var authState = await authenticationState;
        if (authState.User.Identity is not null && authState.User.Identity.IsAuthenticated && formItem is not null)
        {
            formItem.CreationDate = DateTime.Now;
            ClaimsPrincipal cp = authState.User;
            string? id = cp.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid)?.Value;
            if (id is not null)
                formItem.CreationUserId = Int32.Parse(id); 
            else
                Console.WriteLine("PRBLEM WITH AUTHORIZATION");
        }
    }
    private async Task  CompleteReq<T>(FormEnum e,T obj)
    {
        object? response = null;
        if(e == FormEnum.Update)
            response = await service.UpdateAsync(obj, moduleWorkplace.Id);
        else if(e == FormEnum.Insert)
            response = await service.InsertAsync(obj, moduleWorkplace.Id);

        if (response is null || response is ErrorResponse)
        {
            headerText = "FAIL";
            //ERROR occured
        }
        else
        {
            headerText = "SUCCESS";
            headerStyle = "text-success";
            await OnSuccessRequest.InvokeAsync();            
        }
        StateHasChanged();// rerender componennt
        return;

    }
    private async Task Request(FormEnum request)
    {
        if(formItem is not null)
        {   
            headerStyle = "text-danger";
            await GetAuthor();

            switch (formItem)
            {
                case User user:
                    if (user.AccessPermition is null)
                        await CompleteReq(request, user);
                    else
                        await CompleteReq(request, user.AccessPermition.First());// je jenom jedna, jedna konkretniho modulu
                    break;
                case Module module:
                    await CompleteReq(request, module);
                    break;
                case License license:
                    await CompleteReq(request, license);
                    break;
                default:
                    await js.InvokeVoidAsync("alert", "neni implementovano");
                    break;
            }

            await Task.Delay(1000);

            await HandleHideClick();
        }
    }
//TODO: pri failu obnovit hodnoty // kopie?
}