@using Pobytne.Client.Shared.Records
		
@if(Source is not null)
{
	<div @onclick=OnClickHandler class="p-3 mb-2 record-container @color">
		<div class="row align-items-center">
			@switch (Source.Record.RecordType)
			{
				case ERecordType.Folder:
					<RecordFolder folder="Source.Record as IFolder_Record"></RecordFolder>
					break;
				case ERecordType.Ware:
					<RecordWare ware="Source.Record as IWare_Record"></RecordWare>
					break;
				case ERecordType.Activity:
					<RecordActivity activity="Source.Record as IActivity_Record"></RecordActivity>
					break;
				case ERecordType.EmployeeTasks:
					<RecordEmployeeTasks task="Source.Record as IEmployeeTask_Record"></RecordEmployeeTasks>
					break;
			}
		</div>
	</div>
}

@code {
	[EditorRequired]
	[Parameter]
	public RecordTreeView? Source { get; set; }
	[EditorRequired]
	[Parameter]
	public EventCallback<RecordTreeView> OnClick { get; set; }

	private string color
	{
		get
		{
			string c = "";
			if (Source is null)
				return c;
			switch (Source.Record.RecordType)
			{
				case ERecordType.Folder:
					c = "orange"; 
					break;
				case ERecordType.Ware:
					c = "blue";
					break;
				case ERecordType.Activity:
					c = "purple";
					break;
				case ERecordType.EmployeeTasks:
					c = "green";
					break;
			}
			return c;
		}
	}

	private async Task OnClickHandler()
	{
		await OnClick.InvokeAsync(Source);
	}
}
