
<div @onmouseenter="() => Collapsed = false" @onmouseleave="() => Collapsed = true" class="h-100">
    <HxSidebar @bind-Collapsed="Collapsed" CssClass="h-100 collapse-transition">

        <HeaderTemplate>
            <HxSidebarBrand BrandName="DITTA">
                <LogoTemplate>
                    <img src="/EDITTAs.png" width="40" height="40" />
                </LogoTemplate>
            </HxSidebarBrand>
        </HeaderTemplate>

        <ItemsTemplate>

            <HxSidebarItem Text="@(moduleWorkspace.LicenseName.Length>20?moduleWorkspace.LicenseName.Substring(0,20)+"..":moduleWorkspace.LicenseName)" Href="#" Icon="BootstrapIcon.HouseDoor" >
                @foreach (var module in moduleWorkspace.ModulesDic)
                {
                    <HxSidebarItem Text="@module.Value" Href=@($"/{module.Key}") Icon="BootstrapIcon.Dash"/>
                }
            </HxSidebarItem>
            <HxSidebarItem Text="Administrace" Href="/EditLicenses" Icon="BootstrapIcon.Gear" />
            <HxSidebarItem Text="Můj účet" Href="/Account" Icon="BootstrapIcon.Person"/>
        </ItemsTemplate>

        <TogglerTemplate/>

        <FooterTemplate>
            <a @onclick="Logout">
				<HxSidebarFooter  Icon="BootstrapIcon.PersonLock" Text="@(context.SidebarCollapsed ? null : "Odhlásit se")" />
            </a>
        </FooterTemplate>
    </HxSidebar>

</div>
<style>
    :root{

        --hx-sidebar-item-icon-color: white;
        --hx-sidebar-item-color: white;
        --hx-sidebar-brand-name-color: white;
        --hx-sidebar-footer-item-color: white;
        --hx-sidebar-footer-item-hover-color : #AAA;
    }
</style>

@code {
    [CascadingParameter]
    private ModuleWorkplace moduleWorkspace { get; set; } = default!;
    [Parameter]
    [EditorRequired]
    public EventCallback OnLogout { get; set; }

    private bool Collapsed { get; set; } = true;

    private async Task Logout()
    {
        await OnLogout.InvokeAsync();
    }
}
