﻿<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PobytneTest" connectionString="Server=pobytne.cz,3341;Database=PobytneTest;User Id=UserPobytneTest;Password=Pobytne24+;"/>
		<add name="PobytneLocal" connectionString="Server=localhost\SQLEXPRESS;Database=Pobytne;Trusted_Connection=True;"/>
	</connectionStrings>
</configuration>